// FLEX
.row {
  position: relative;
  display: flex;
  flex-direction: row;
}

.col {
  position: relative;
  display: flex;
  flex-direction: column;
}

// aligment content
.row_lt {
  @extend .row;
  align-items: flex-start;
  justify-content: start;
}

.row_ct {
  @extend .row;
  align-items: flex-start;
  justify-content: start;
}

.row_rt {
  @extend .row;
  align-items: end;
  justify-content: start;
}

.row_l {
  @extend .row;
  align-items: center;
  justify-content: start;
}

.row_c {
  @extend .row;
  align-items: center;
  justify-content: center;
}

.row_r {
  @extend .row;
  align-items: center;
  justify-content: end;
}

.row_lb {
  @extend .row;
  align-items: flex-end;
  justify-content: start;
}

.row_cb {
  @extend .row;
  align-items: flex-end;
  justify-content: center;
}

.row_rb {
  @extend .row;
  align-items: flex-end;
  justify-content: end;
}


.col_lt {
  @extend .col;
  align-items: flex-start;
  justify-content: start;
}

.col_ct {
  @extend .col;
  align-items: center;
  justify-content: start;
}

.col_rt {
  @extend .col;
  align-items: flex-end;
  justify-content: start;
}

.col_l {
  @extend .col;
  align-items: flex-start;
  justify-content: center;
}

.col_c {
  @extend .col;
  align-items: center;
  justify-content: center;
}

.col_r {
  @extend .col;
  align-items: flex-end;
  justify-content: center;
}

.col_lb {
  @extend .col;
  align-items: flex-start;
  justify-content: end;
}

.col_cb {
  @extend .col;
  align-items: center;
  justify-content: end;
}

.col_rb {
  @extend .col;
  align-items: flex-end;
  justify-content: end;
}

// sizing
.fill_w {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
}

.fill_h {
  min-height: 100%;
  max-height: 100%;
  height: 100%;
}

.fill {
  @extend .fill_w;
  @extend .fill_h;
}

.hug_w {
  width: max-content;
  min-width: max-content;
  max-width: max-content;
}

.hug_h {
  height: max-content;
  min-height: max-content;
  max-height: max-content;
}

.hug {
  @extend .hug_w;
  @extend .hug_h;
}